<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/Users/lpl/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.lpl.whisper-server</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/lpl/.whisper_server/venv/bin/python</string>
		<string>/Users/lpl/.whisper_server/whisper_server.py</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/lpl/Library/Logs/whisper-server.log</string>
	<key>StandardOutPath</key>
	<string>/Users/lpl/Library/Logs/whisper-server.log</string>
	<key>ThrottleInterval</key>
	<integer>10</integer>
	<key>WorkingDirectory</key>
	<string>/Users/lpl/.whisper_server</string>
</dict>
</plist>
